alabaster==0.7.11
anaconda==0.0.1.1
appdirs==1.4.4
astra-toolbox==1.9.9.dev0
astropy==4.2
bitarray==1.6.1
cached-property==1.5.2
certifi==2020.11.8
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
dask==2.30.0
dataclasses==0.6
decorator==4.4.2
future==0.18.2
h5py==3.1.0
idna==2.10
imageio==2.9.0
Keras==2.4.3
kiwisolver==1.3.1
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.5
numpy==1.17.4
Pillow==8.0.1
pretty-errors==1.2.19
ptyprocess==0.6.0
pycuda==2020.1
pydicom==2.1.1
pyerfa==1.7.1.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytools==2020.4.3
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.25.0
scikit-image==0.16.2
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
six @ file:///tmp/build/80754af9/six_1605205313296/work
terminado==0.9.1
toolz==0.11.1
torch @ file:///mnt/storage/users/gy/VirtualEnvironment/file/linux/torch-1.7.0%2Bcu101-cp37-cp37m-linux_x86_64.whl
torchvision==0.8.1
tornado==6.1
tqdm==4.53.0
typing-extensions==3.7.4.3
urllib3==1.26.2
